

body {
    font-family: 'Raleway', sans-serif;
    background-color: #F6F7F8;
}

.input-pass:focus {
    outline: none;
}


.visible {
    font-size: 12px;
    color: red;
}

.not-visible {
    display: none;
}